pandas
numpy
scikit-learn
sentence-transformers
fastapi
uvicorn
python-multipart
pdfplumber
python-docx
google-generativeai
google-genai
python-dotenv
pydantic>=2
pdfplumber
python-docx
matplotlib
sentence-transformers
pymongo[srv]
dnspython
bcrypt
python-jose[cryptography]
reportlab
lightgbm
optuna
shap